#circularforce{
  width:100%;
  height:77px;
  background-color: #f0f1f2;
}
#circularforce .wrap{
  height:100%;
}
#circularforce .wrap .enb{
  display:flex;
  height:77px;
  background-color: white;
}
#circularforce .wrap .enb li{
  width:calc(100% / 3);
  display: grid;
  grid-template-columns:auto auto;
  grid-template-rows:auto auto;
  position:relative;
  border-top:1px solid #ccc;
}
#circularforce .wrap .enb li:not(:last-child){
  border-right:1px solid #ccc;
}
#circularforce .wrap .enb li>.fo{  
  grid-row:1 /span 2;
  padding:15px 25px;
}
#circularforce .wrap .enb li h2.h5{
  line-height:20px;
}
#circularforce .wrap .enb li p.p{
}
#circularforce .wrap .enb li span{
  position:absolute;
  right:20px;
  bottom:calc(50% - 17px);
  width:40px;
  height:40px;
  font-size:0;
  background:url(../img/ejqh.png) 0 center no-repeat;
  background-size:cover;
}