.vo2{
  width: 256px;
  height: 350px;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 50px;
  border-right: 1px solid brown;
  border-left: 1px solid brown;
  border-bottom:1px solid brown;
  box-sizing: border-box;
  display:none;
}
.vo2 h2.hide{
}
.vo2 li{
}
.vo2 li a{
}